[submodule "go-even-or-odds"]
	path = even-or-odd
	url = git@github.com:RafaZeero/go-even-or-odds.git
[submodule "go-structs"]
	path = structs
	url = git@github.com:RafaZeero/go-structs.git
[submodule "maps"]
	path = maps
	url = git@github.com:RafaZeero/go-maps.git
[submodule "interfaces"]
	path = interfaces
	url = git@github.com:RafaZeero/go-interfaces.git
[submodule "http"]
	path = http
	url = git@github.com:RafaZeero/go-http.git
